.cart-main-container{
  margin: 2rem 5rem;
}
.cart-container {
  list-style: none;
  padding: 0;
  margin: 1rem 0rem;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
}

.cart-item img {
  margin-right: 0.625rem;
  max-width: 100px;
}

.remove-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.3125rem 0.625rem;
  cursor: pointer;
}

.cart-summary{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}