.cart-main-container{
  margin: 2rem 10rem;
}
.cart-container {
  list-style: none;
  padding: 0;
  margin: 1rem 0rem;
}

.cart-item {
  display: flex;
  align-items: left;
  justify-content: space-between;
  column-gap: 4rem;
  margin-bottom: 1.25rem;
  padding: 0.625rem;
}
.title-container{
  width: 20rem;
  text-align: left;
}
.cart-item img {
  margin-right: 0.625rem;
  max-width: 100px;
}

.remove-btn {
  height: 2rem;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.3125rem 0.625rem;
  cursor: pointer;
}

.cart-summary{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}