.product_container {
    display: flex;
    width: 19rem;
    height: 29rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    background-color: white;
}

.product_container img {
    width: 100%;
    height: auto;
}

.product_container h3 {
    font-size: 1.3rem;
}

.product_container span {
    color: grey;
    font-size: 1rem;
}
button{
    cursor: pointer;
}
